/* Archive header */
.archive-header-image .content {display:grid;}
.archive-header-image .content .archive-header {order:-1;margin-bottom:0;background:no-repeat center center / cover}
.archive-header-image .content #breadcrumbs {margin-bottom:4rem;}

/* Archive wrapper */
.archive-wrapper .card a{text-decoration:none;}
.card, .card .text {display: flex;flex-direction: column;}
.card.clickable .card .text {cursor:pointer;}
.card .text {flex-grow: 1;max-width: 60ch;order:1;padding:1rem;}
.card .text > * + * {margin-top: 0.75rem;}
.card .text :last-child {margin-top: auto;}
.card .text :nth-last-child(2) {margin-bottom: 0.75rem;}
.card + .card {margin-top: 1.5rem;}
.card .img {height: 15rem;order:-1;margin-bottom:1rem;}
.card .img img {object-fit: cover;height: 100%;width: 100%;}
.card .img.placeholder-image img {object-fit:contain;width:80%;}
.card h2 a:focus {text-decoration: underline;}
.card h2:focus-within ~ .cta {box-shadow: 0 0 0 0.125rem;}
.card:focus-within h2 a:focus {text-decoration: none;}
.card .cta {text-decoration:underline;font-size:0.8em;}

@supports (display: grid) {
    .cards > * {display: grid;grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); grid-gap: 1.5rem;}
    .card + .card {margin-top: 0;}
}

.pagination{clear:both;margin:40px 0 80px;}
.pagination ul {text-align:center;margin:0;padding:0;}
.pagination ul li:before {display:none;}
.pagination ul li {display: inline;border-right: 2px solid #090909;text-transform: uppercase;}
.pagination ul li.pagination-next {border-right:0;}
.pagination ul li a {cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    text-decoration: none;
    padding: 0 8px 0 5px;
    color: #000;
    font-weight: 800;
}
.pagination ul li a:hover,.pagination ul li a:focus {text-decoration:underline;}
.pagination ul li.active a {color:#cc0000;cursor:default;text-decoration:none !important;}

@media only screen and (max-width: 650px) {
    .archive-wrapper{
        display:block;
    }
    .archive-wrapper article {margin-bottom:30px;}
    .archive-wrapper img {width:100%;}
}

@media (max-width: 400px) {
  .cards {
    grid-gap: 4.5rem;
  }
}