/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 
/* Clients block */
.wp-block-pep-block-clients {background:#f4f4f4;color:#555;border:2px solid #ccc;padding:10px;font-style:italic;}
body .edit-post-layout__content {background:#eee;}

body .wp-block-pep-imageheader .wp-block-image {text-align:center;}
body .wp-block-pep-imageheader .wp-block-image .components-resizable-box__container {max-width:100%;height:auto;background:#00a2b0;margin:0 auto;}
body .wp-block-pep-imageheader .wp-block-image .components-resizable-box__container img{max-width:100%;height:auto;}
body .wp-block-pep-imageheader .editor-inner-blocks h3 {text-align:center;}

.editor-styles-wrapper .wp-block-button .wp-block-button__link {text-transform:uppercase;font-weight:300 !important;}
div.wp-block-pep-slickslider .wp-block-group {border:1px solid #ccc;border-bottom:4px solid #999;border-top:4px solid #999;padding-left:10px;padding-right:10px;}